extends ../dashboard-layout

block content
  .mt-3.mb-5
    form(action="/pa/" + package._id + "/gen" method="post")
      a.btn.btn-outline-primary(href='/dashboard/packages')
        | Back to list
      button.ml-3.btn.btn-primary(type='button', data-toggle="modal", data-target="#importListEmails")
        | Import list emails
      if package.status
        button.ml-3.btn.btn-success(type='button', data-toggle="modal", data-target="#generateCodeModal") Generate new code
      end
  table.table
    thead
      tr
        th(scope='col') #
        th(scope='col') Code
        th(scope='col') Created at
        th(scope='col') Used at
        th(scope='col') User's email
        //- th(scope='col') 
    tbody
      for code, index in codes
        tr
          th(scope='row')= index + 1
          td
            code= code.id
          td= moment(code.createdAt).format('MMM DD YYYY') 
          td= code.inputed_at ? moment(code.inputed_at).format('MMM DD YYYY') : ''
          td= code.user_email
          //- td 
          //-   button.btn.btn-outline-danger.btn-sm ×
  #generateCodeModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='generateCodeModal', aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
      .modal-content
        .modal-header
          h5#exampleModalLabel.modal-title Generate new license code
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          .form-group
            input#packageId(type='hidden', name='packageId', value=package.id)
            label(for='inputEmail') User email
            input#inputEmail.form-control(type='email', placeholder='User email')
        .modal-footer
          button.btn.btn-light(type='button', data-dismiss='modal') Cancel
          button.btn.btn-primary(type='button', onclick="generateLicenseCode()") Submit
  #importListEmails.modal.fade(tabindex='-1', role='dialog', aria-labelledby='importListEmails', aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
      .modal-content
        .modal-header
          h5#exampleModalLabel.modal-title Upload file CSV
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          .form-group
            .input-group
              .custom-file
                input#inputFile.custom-file-input(type='file')
                label.custom-file-label(for='inputFile') Choose file
        .modal-footer
          button.btn.btn-light(type='button', data-dismiss='modal') Cancel
          button.btn.btn-primary(type='button', onclick="importListEmails()") Submit
